<div class="profile clearfix">
	<%= link_to gravatar_for(@user, size: 52), @user %>
		<div>
			<%= link_to "@", @user %><%= link_to @user.slug, @user %>
		<div>
			<%= @user.name %>
		</div>
		<div>
			Join Date: <%= @user.created_at.strftime("%B %d, %Y") %>
		</div>

	<%= render 'shared/follow_form' if signed_in? %>

</div>