<div class="tweet-box">
<%= form_for(@tweet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <div class="field">
  	<%= f.text_field :all_tags, placeholder: "Tags seperated by comma" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
</div>