<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      
      <a href="#" class="navbar-brand">OverTime</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
      <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
    <% if signed_in? %>
    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <form class="navbar-form pull-left">
        <div class="input-group" style="max-width:470px;">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>  
    <% end %>
 </div> 
</nav>
<% if signed_in? %>
<div class="navbar navbar-default" id="subnav">
<div class="col-md-12">
    <div class="navbar-header">
      
      <a href="#" style="margin-left:15px;" data-toggle="dropdown"><%= link_to root_path, class: 'navbar-btn btn btn-default btn-plus dropdown-toggle', :data => {:toggle=>"dropdown"} do %>
     
          <i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home
          <small><i class="glyphicon glyphicon-chevron-down"></i></small>
          <% end %> </a>
      <ul class="nav dropdown-menu">
          <li><%= link_to user_path(current_user) do %> <i class="glyphicon glyphicon-user" style="color:#1111dd;"></i>Profile</li>
          <% end %>
          <li class="nav-divider"></li>
          <li><%= link_to tweets_path do %> <i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Social Feed</li>
          <% end %>
          <li><%= link_to entries_path do %><i class="glyphicon glyphicon-list" style="color:#11dd11;"></i> News Feed</li>
          <% end %> 
          <li><%= link_to videos_path do %><i class="glyphicon glyphicon-film" style="color:#dd1111;"></i> Video Feed</li>
          <% end %>
      </ul>
      
      <% end %>
      
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
  
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse2">
      <ul class="nav navbar-nav navbar-right">
         <li class="active"><a href="/social">Social</a></li>
         <% if signed_in? %>
         <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
         <% else %>
         <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
         <% end %>
         <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
       </ul>
    </div>  
 </div> 
</div>
